@import "tailwindcss";

@theme {
  --color-primary: rgb(59, 130, 246);
  --color-background: white;
  --color-foreground: black;
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-background: black;
    --color-foreground: white;
  }
}

html {
  background-color: var(--color-background);
  color: var(--color-foreground);
}
